@font-face {
  font-family: 'facturama';
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/facturama.eot?rozjm9");
  src: url("../../fonts/facturama.eot?rozjm9#iefix") format("embedded-opentype"), url("../../fonts/facturama.ttf?rozjm9") format("truetype"), url("../../fonts/facturama.woff?rozjm9") format("woff"), url("../../fonts/facturama.svg?rozjm9#facturama") format("svg");
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'facturama' !important;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;
  font-variant: normal;
  speak: none;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-api:before {
  content: "\e900";
}

.icon-archive:before {
  content: "\e901";
}

.icon-arrow-down:before {
  content: "\e902";
}

.icon-arrow-left:before {
  content: "\e903";
}

.icon-arrow-right:before {
  content: "\e904";
}

.icon-arrow-up:before {
  content: "\e905";
}

.icon-bag:before {
  content: "\e906";
}

.icon-ban:before {
  content: "\e907";
}

.icon-bank:before {
  content: "\e908";
}

.icon-bell:before {
  content: "\e909";
}

.icon-bolt:before {
  content: "\e90a";
}

.icon-book:before {
  content: "\e90b";
}

.icon-bookmark:before {
  content: "\e90c";
}

.icon-briefcase:before {
  content: "\e90d";
}

.icon-bulb:before {
  content: "\e90e";
}

.icon-calculator:before {
  content: "\e90f";
}

.icon-calendar:before {
  content: "\e910";
}

.icon-camera:before {
  content: "\e911";
}

.icon-card:before {
  content: "\e912";
}

.icon-caret-down:before {
  content: "\e913";
}

.icon-caret-left:before {
  content: "\e914";
}

.icon-caret-right:before {
  content: "\e915";
}

.icon-caret-up:before {
  content: "\e916";
}

.icon-cart:before {
  content: "\e917";
}

.icon-chain:before {
  content: "\e918";
}

.icon-chart:before {
  content: "\e919";
}

.icon-chat:before {
  content: "\e91a";
}

.icon-check:before {
  content: "\e91b";
}

.icon-check-rounded:before {
  content: "\e91c";
}

.icon-chevron-down:before {
  content: "\e91d";
}

.icon-chevron-down-rounded:before {
  content: "\e91e";
}

.icon-chevron-left:before {
  content: "\e91f";
}

.icon-chevron-left-rounded:before {
  content: "\e920";
}

.icon-chevron-right:before {
  content: "\e921";
}

.icon-chevron-right-rounded:before {
  content: "\e922";
}

.icon-chevron-up:before {
  content: "\e923";
}

.icon-chevron-up-rounded:before {
  content: "\e924";
}

.icon-clip:before {
  content: "\e925";
}

.icon-clipboard:before {
  content: "\e926";
}

.icon-clock:before {
  content: "\e927";
}

.icon-clone:before {
  content: "\e928";
}

.icon-close:before {
  content: "\e929";
}

.icon-close-rounded:before {
  content: "\e92a";
}

.icon-code:before {
  content: "\e92b";
}

.icon-cog:before {
  content: "\e92c";
}

.icon-computer:before {
  content: "\e92d";
}

.icon-dash:before {
  content: "\e92e";
}

.icon-dash-rounded:before {
  content: "\e92f";
}

.icon-download:before {
  content: "\e930";
}

.icon-drawer:before {
  content: "\e931";
}

.icon-edit:before {
  content: "\e932";
}

.icon-envelope:before {
  content: "\e933";
}

.icon-facebook:before {
  content: "\e934";
}

.icon-file-empty:before {
  content: "\e935";
}

.icon-file-excel:before {
  content: "\e936";
}

.icon-file-img:before {
  content: "\e937";
}

.icon-file-pdf:before {
  content: "\e938";
}

.icon-folder:before {
  content: "\e939";
}

.icon-folder-new:before {
  content: "\e93a";
}

.icon-globe:before {
  content: "\e93b";
}

.icon-grid:before {
  content: "\e93c";
}

.icon-help:before {
  content: "\e93d";
}

.icon-home:before {
  content: "\e93e";
}

.icon-inbox:before {
  content: "\e93f";
}

.icon-instagram:before {
  content: "\e940";
}

.icon-invoice:before {
  content: "\e941";
}

.icon-invoices:before {
  content: "\e942";
}

.icon-key:before {
  content: "\e943";
}

.icon-linkedin:before {
  content: "\e944";
}

.icon-list:before {
  content: "\e945";
}

.icon-lock:before {
  content: "\e946";
}

.icon-logo:before {
  content: "\e947";
}

.icon-logo-redux:before {
  content: "\e948";
}

.icon-map:before {
  content: "\e949";
}

.icon-map-marker:before {
  content: "\e94a";
}

.icon-money:before {
  content: "\e94b";
}

.icon-more:before {
  content: "\e94c";
}

.icon-more-vertical:before {
  content: "\e94d";
}

.icon-mouse:before {
  content: "\e94e";
}

.icon-newspaper:before {
  content: "\e94f";
}

.icon-notebook:before {
  content: "\e950";
}

.icon-off:before {
  content: "\e951";
}

.icon-order-down:before {
  content: "\e952";
}

.icon-order-up:before {
  content: "\e953";
}

.icon-phone:before {
  content: "\e954";
}

.icon-pig:before {
  content: "\e955";
}

.icon-plane:before {
  content: "\e956";
}

.icon-plus:before {
  content: "\e957";
}

.icon-plus-rounded:before {
  content: "\e958";
}

.icon-print:before {
  content: "\e959";
}

.icon-puzzle:before {
  content: "\e95a";
}

.icon-qr-code:before {
  content: "\e95b";
}

.icon-receipt:before {
  content: "\e95c";
}

.icon-refresh:before {
  content: "\e95d";
}

.icon-return:before {
  content: "\e95e";
}

.icon-revert:before {
  content: "\e95f";
}

.icon-ribbon:before {
  content: "\e960";
}

.icon-rocket:before {
  content: "\e961";
}

.icon-save:before {
  content: "\e962";
}

.icon-search:before {
  content: "\e963";
}

.icon-settings:before {
  content: "\e964";
}

.icon-share:before {
  content: "\e965";
}

.icon-speaker:before {
  content: "\e966";
}

.icon-switch:before {
  content: "\e967";
}

.icon-table:before {
  content: "\e968";
}

.icon-trash:before {
  content: "\e969";
}

.icon-twitter:before {
  content: "\e96a";
}

.icon-unlimited:before {
  content: "\e96b";
}

.icon-upload:before {
  content: "\e96c";
}

.icon-user:before {
  content: "\e96d";
}

.icon-users:before {
  content: "\e96e";
}

.icon-video:before {
  content: "\e96f";
}

.icon-warning:before {
  content: "\e970";
}

.icon-whatsapp:before {
  content: "\e971";
}

.icon-youtube:before {
  content: "\e972";
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-xl {
  font-size: 10em;
}
