//Fila de Tabla
.table-row
  //Opciones
  .column
    .form-check.edition.tools
      label.form-check-label.products-checkbox
        input.form-check-input(type="checkbox", name="", value="")
    .edition.tools
      a.btn-remove(href="#", title="Eliminar Elemento")
        i.icon-close-rounded 
    .edition.tools
      a.btn-edit(href="#", title="Editar Elemento")
        i.icon-edit
  //Nombre
  .column
    p Product
  //Código
  .column
    p 01234
  //Descripción del concepto    
  .column.description         
    p#description-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  //Precio
  .column.text-xs-right
    b.total $0,000.00
