//Fila de Tabla
.table-row
  //Opciones
  .column
    .edition.tools
      a.btn-remove(href="#", title="Eliminar Elemento")
        i.icon-close-rounded 
    .edition.tools
      a.btn-edit(href="#", title="Editar Elemento")
        i.icon-edit
  //Puesto
  .column
    p Dise&ntilde;ador
  //Nombre
  .column
    p Ricardo Adame
  //RFC
  .column
    p ABCD123456XYZ
  //NSS  
  .column      
    p 098393745087250895
