//Fila de Tabla
.table-row
  //Opciones
  .column
    .form-check.edition.tools
      label.form-check-label.products-checkbox
        input.form-check-input(type="checkbox", name="", value="")
    .edition.tools
      a.btn-remove(href="#", title="Eliminar Elemento")
        i.icon-close-rounded 
    .edition.tools
      a.btn-edit(href="#", title="Editar Elemento")
        i.icon-edit
  //Nombre / Razón Social
  .column
    p Ricardo Adame
  //RFC
  .column
    p ABCD123456XYZ
  //Localidad   
  .column.description         
    p Ciudad de M&eacute;xico 
