//Cat치logo de Empleados:
#cbb-upload
                                                                                                                        
  .col-xs-12.col-sm-12.col-md-12                                                                                                                                                                                                                          
    //CBB Upload:                                                                                                                                                                                                                                                                        
    .card.cbb                                                                                                                                          
      .col-xs-12.col-sm-4.col-md-4.col-lg-3.form-group
        label Seleccionar tipo de factura:
        select.form-control
          option Seleccionar tipo de factura
          
      .col-xs-12.col-sm-4.col-md-4.col-lg-2.form-group
        label Folio de la factura:
        input.form-control(type="text" placeholder="Folio")
    
      .col-xs-12.col-sm-4.col-md-4.col-lg-2.form-group
        label RFC:
        input.form-control(type="text" placeholder="RFC")
      
      
      .col-xs-12.col-sm-8.col-md-8.col-lg-3.form-group
        label Raz&oacute;n fiscal:
        input.form-control(type="text" placeholder="Raz칩n fiscal")
      
      .col-xs-12.col-sm-4.col-md-4.col-lg-2.form-group
        label Fecha de emisi칩n:
        input.form-control(type="text" placeholder="Fecha de emisi칩n")
