.row
  #profile-content
    include _csd-upload
    //-p Partials
  
  //Profile Sidebar
  #profile-sidebar
    //Profile Drawer
    .sb-header.text-xs-right
      a(href="#") 
        i.icon-drawer
    //SB Menu
    .sb-menu
      a(href="#") <i class="icon-ribbon"></i> Sellos Digitales / FIEL
      a(href="#") <i class="icon-home"></i> Sucursales
      a(href="#") <i class="icon-clone"></i> Tipos de Comprobantes
      a(href="#") <i class="icon-users"></i> Usuarios 
       
       
       
      
  
