#wizard
  .wizard
    .content
      include wizard/_welcome
      include wizard/_csd
      include wizard/_tax-entity
      include wizard/_add-client
      include wizard/_add-product
      include wizard/_finish
      
    .footer
      ul.progress-bar
        li Sellos Digitales
        li Perfil Fiscal
        li Agregar Cliente
        li Agregar Producto
        li Finalizar
      
      .bar
        .fill
