article#content
	.container-fluid
		//- Page title
		.page-title.row.text-xs-center
			b Page Title
			
		//-Contents
		.row
			//-RenderBody()
			include ../partials/_new-invoice
			//-include ../partials/_profile
			//-include ../partials/_dashboard
			//-include ../partials/_consult
			//-include ../partials/_cbb-upload
			
			//-include ../partials/inventory/_products
			//-include ../partials/inventory/_clients
			//-include ../partials/inventory/_providers
			//-include ../partials/inventory/_employees
			//-include ../partials/upload-xml/_upload-xml
