//-Main Tools
.main-tools
	a.action-link.blue(href="#")
		<i class="icon-plus-rounded"></i>Factura
	a.action-link.blue(href="#")
		<i class="icon-plus-rounded"></i>N&oacute;mina
	a.action-link.gray(href="#")
		<i class="icon-search"></i>Consultar