aside#sidebar
	ul#menu
		//-Facturas
		li
			a.sb-trigger(href="#")
				<i class="icon-invoices text-info"></i> Facturas <i class="icon-caret-down float-xs-right"></i>
			//-Submenu
			ul.submenu
				li
					a(href="#") Recuperaci&oacute;n							
				li
					a(href="#") Facturaci&oacute;n masiva
				li
					a(href="#") Descarga de Facturas				
				li
					a(href="#") Cargar XML				
				li
					a(href="#") Cargar CBB				
				li
					a(href="#") Agregar Addenda

		//-Nóminas
		li
			a.sb-trigger(href="#")
				<i class="icon-clipboard text-info"></i> N&oacute;minas <i class="icon-caret-down float-xs-right"></i>
			//-Submenu
			ul.submenu
				li
					a(href="#") Consultar

		//-Catálogos
		li
			a.sb-trigger(href="#")
				<i class="icon-notebook text-info"></i> Cat&aacute;logos <i class="icon-caret-down float-xs-right"></i>
			//-Submenu
			ul.submenu
				li
					a(href="#") Clientes
				li
					a(href="#") Productos
				li
					a(href="#") Empleados
				li
					a(href="#") Proveedores

		//-Cuentas
		li
			a.sb-trigger(href="#")
				<i class="icon-pig text-info"></i> Cuentas <i class="icon-caret-down float-xs-right"></i>
			//-Submenu
			ul.submenu
				li
					a(href="#") Cuentas por cobrar
				li
					a(href="#") Cuentas por pagar
				li
					a(href="#") Libro diario

		//-Estadísticas
		li
			a.sb-trigger(href="#")
				<i class="icon-chart text-info"></i> Estad&iacute;sticas <i class="icon-caret-down float-xs-right"></i>
			//-Submenu
			ul.submenu
				li
					a(href="#") Mis estad&iacute;sticas
				li
					a(href="#") Informe mensual

		//-Contabilidad
		li
			a.sb-trigger(href="#")
				<i class="icon-calculator text-info"></i> Contabilidad <i class="icon-caret-down float-xs-right"></i>
			//-Submenu
			ul.submenu
				li
					a(href="#") Historial de documentos
				li
					a(href="#") Historial de facturas y pagos
				li
					a(href="#") Movimientos sin factura
