.tutorial
  
  //-Tutorial initial
  .card-step.initial.active
    .header.text-xs-center
      b.text-muted Bienvenido
    
    .content
      p En este tutorial te mostramos las herramientas que puedes utilizar y que funci&oacute;n cumplen dentro de la plataforma con la finalidad de que te familiarices con ellas y las aproveches al m&aacute;ximo...
    
    .footer
      a.btn.btn-sm.text-muted.dismiss(href="#") No volver a mostrar
      a.btn.btn-link.text-info.float-xs-right.btn-next-1(href="#") Comenzar
  
  //-Tutorial 01
  .card-step.one
    .header
      span.caret-up
      b.text-muted Nueva factura
    
    .content
      p Aqu&iacute; podr&aacute;s crear nuevas facturas rapidamente, as&iacute; como consultarlas en el momento que lo desees… 
    
    .footer.text-xs-right
      a.btn.btn-link.text-info.text-info.btn-next-2(href="#") Siguiente
  
  //-Tutorial 02
  .card-step.two
    .header
      span.caret-up
      b.text-muted Facturas restantes
    
    .content
      p Aqu&iacute; se muestran las facturas restantes en tu plan, en caso de que tus facturas se esten terminando aqu&iacute; tambien podr&aacute;s hacer compras de m&aacute;s facturas…
    
    .footer.text-xs-right
      a.btn.btn-link.text-info.btn-next-3(href="#") Siguiente
  
  //-Tutorial 03
  .card-step.three
    .header
      span.caret-up
      b.text-muted Step 3
    
    .content
      p Card 3
    
    .footer.text-xs-right
      a.btn.btn-link.text-info.btn-next-4(href="#") Siguiente
      
  //-Tutorial 04
  .card-step.four
    .header
      span.caret-up
      b.text-muted Step 4
    
    .content
      p Card 4
    
    .footer.text-xs-right
      a.btn.btn-link.text-info.btn-next-5(href="#") Siguiente
      
  //-Tutorial 05
  .card-step.five
    .header
      span.caret-up
      b.text-muted Step 5
    
    .content
      p Card 5
    
    .footer.text-xs-right
      a.btn.btn-link.text-info.btn-next-6(href="#") Siguiente
      
  //-Tutorial 06
  .card-step.six
    .header
      span.caret-up
      b.text-muted Step 6
    
    .content
      p Card 6
    
    .footer.text-xs-right
      a.btn.btn-link.text-info.btn-next-7(href="#") Siguiente
      
  //-Tutorial 07
  .card-step.seven
    .header
      span.caret-up
      b.text-muted Step 7
    
    .content
      p Card 7
    
    .footer.text-xs-right
      a.btn.btn-link.text-info.btn-next-8(href="#") Siguiente
      
  //-Tutorial 08
  .card-step.eight
    .header
      span.caret-up
      b.text-muted Step 8
    
    .content
      p Card 8
    
    .footer.text-xs-right
      a.btn.btn-link.text-info.btn-next-9(href="#") Siguiente
      
  //-Tutorial 09
  .card-step.nine
    span.caret-left
    .header
      b.text-muted Step 9
    
    .content
      p Card 9
    
    .footer.text-xs-right
      a.btn.btn-link.text-info.btn-next-10(href="#") Siguiente
      
  //-Tutorial finish
  .card-step.finish
    .header.text-xs-center
      b.text-muted Finalizar
    
    .content
      p Finalizar...
    
    .footer
      a.btn.btn-link.text-info.float-xs-right.btn-finish(href="#") Finalizar
