
<!--Catálogo de Empleados:-->
<div id="cbb-upload">
  <div class="col-xs-12 col-sm-12 col-md-12">                                                                                                                                                                                                                         
    <!--CBB Upload:                                                                                                                                                                                                                                                                        -->
    <div class="card cbb">                                                                                                                                         
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 form-group">
        <label>Seleccionar tipo de factura:</label>
        <select class="form-control">
          <option>Seleccionar tipo de factura</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 form-group">
        <label>Folio de la factura:</label>
        <input class="form-control" type="text" placeholder="Folio"/>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 form-group">
        <label>RFC:</label>
        <input class="form-control" type="text" placeholder="RFC"/>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-3 form-group">
        <label>Raz&oacute;n fiscal:</label>
        <input class="form-control" type="text" placeholder="Razón fiscal"/>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 form-group">
        <label>Fecha de emisión:</label>
        <input class="form-control" type="text" placeholder="Fecha de emisión"/>
      </div>
    </div>
  </div>
</div>