//-Chart Donut (Ingresos y Gastos):
.chart.donut
	.ct-chart.ct-golden-section#chart1

//- Chart Labels:
.info
	small.text-muted <span class="indicator cyan"></span> Ingresos 
	h4.income.quantity $0,000.00
	
	small.text-muted <span class="indicator red"></span> Gastos 
	h4.expenses.quantity $0,000.00
