.card
  .file-upload
    .file-drop#file-drop
      i.icon-upload.icon-2x
      span Arrastra aqu&iacute; tus archivos
    
    .file-input.text-xs-center
      input.fu(type='file')
      span.btn.btn-link.btn-sm <i class="icon-upload"></i> o s&uacute;belo en forma manual
      
    
