a.item(href="#")
  .status
    i.icon-invoice
  .info
    .heading 
      b.folio 
        small <span class="text-info">Folio:</span> 012345678
      b.date
        small <span class="text-info">Fecha:</span> 25-04-2017
    .body 
      .text
        small.text-info Receptor: 
        p Receptor Name
        
      .text
        small.text-info RFC: 
        p ABCD012345XYZ
        
      .text
        small.text-info Total: 
        p.font-weight-bold $0,000.00
    
      
