doctype html
html(lang="es")
	head 
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title Facturama

		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="../css/common.css")
		link(rel="stylesheet", href="../css/wizard.css")
		link(rel="stylesheet", href="../css/icons.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400")
		link(rel="icon", href="../favicon.ico")

	body 
		//if lt IE 8
			p.chromeframe.
			You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a>
			to improve your experience.
		
		include partials/_wizard
		

		script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
		script(src="../js/wizard.js")
