@-webkit-keyframes dropdownShow {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes dropdownShow {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes notifications {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@keyframes notifications {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

.align-baseline {
  vertical-align: baseline !important; }

.align-top {
  vertical-align: top !important; }

.align-middle {
  vertical-align: middle !important; }

.align-bottom {
  vertical-align: bottom !important; }

.align-text-bottom {
  vertical-align: text-bottom !important; }

.align-text-top {
  vertical-align: text-top !important; }

.rounded {
  border-radius: 0.25rem; }

.rounded-top {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem; }

.rounded-right {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }

.rounded-bottom {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.rounded-left {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem; }

.rounded-circle {
  border-radius: 50%; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.d-block {
  display: block !important; }

.d-inline-block {
  display: inline-block !important; }

.d-inline {
  display: inline !important; }

.float-xs-left {
  float: left !important; }

.float-xs-right {
  float: right !important; }

.float-xs-none {
  float: none !important; }

@media (min-width: 36rem) {
  .float-sm-left {
    float: left !important; }
  .float-sm-right {
    float: right !important; }
  .float-sm-none {
    float: none !important; } }

@media (min-width: 48rem) {
  .float-md-left {
    float: left !important; }
  .float-md-right {
    float: right !important; }
  .float-md-none {
    float: none !important; } }

@media (min-width: 62rem) {
  .float-lg-left {
    float: left !important; }
  .float-lg-right {
    float: right !important; }
  .float-lg-none {
    float: none !important; } }

@media (min-width: 75rem) {
  .float-xl-left {
    float: left !important; }
  .float-xl-right {
    float: right !important; }
  .float-xl-none {
    float: none !important; } }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.w-100 {
  width: 100% !important; }

.h-100 {
  height: 100% !important; }

.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.text-justify {
  text-align: justify !important; }

.text-nowrap {
  white-space: nowrap !important; }

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-xs-left {
  text-align: left !important; }

.text-xs-right {
  text-align: right !important; }

.text-xs-center {
  text-align: center !important; }

@media (min-width: 36rem) {
  .text-sm-left {
    text-align: left !important; }
  .text-sm-right {
    text-align: right !important; }
  .text-sm-center {
    text-align: center !important; } }

@media (min-width: 48rem) {
  .text-md-left {
    text-align: left !important; }
  .text-md-right {
    text-align: right !important; }
  .text-md-center {
    text-align: center !important; } }

@media (min-width: 62rem) {
  .text-lg-left {
    text-align: left !important; }
  .text-lg-right {
    text-align: right !important; }
  .text-lg-center {
    text-align: center !important; } }

@media (min-width: 75rem) {
  .text-xl-left {
    text-align: left !important; }
  .text-xl-right {
    text-align: right !important; }
  .text-xl-center {
    text-align: center !important; } }

.text-lowercase {
  text-transform: lowercase !important; }

.text-uppercase {
  text-transform: uppercase !important; }

.text-capitalize {
  text-transform: capitalize !important; }

.font-weight-normal {
  font-weight: normal; }

.font-weight-bold {
  font-weight: bold; }

.font-italic {
  font-style: italic; }

.text-primary {
  color: #14b4fc !important; }

a.text-primary:hover, a.text-primary:focus, a.text-primary:active,
.btn.text-primary:hover,
.btn.text-primary:focus,
.btn.text-primary:active,
input[type="submit"].text-primary:hover,
input[type="submit"].text-primary:focus,
input[type="submit"].text-primary:active,
button.text-primary:hover,
button.text-primary:focus,
button.text-primary:active {
  color: #03A9F4 !important; }

.text-info {
  color: #00bcd4 !important; }

a.text-info:hover, a.text-info:focus, a.text-info:active,
.btn.text-info:hover,
.btn.text-info:focus,
.btn.text-info:active,
input[type="submit"].text-info:hover,
input[type="submit"].text-info:focus,
input[type="submit"].text-info:active,
button.text-info:hover,
button.text-info:focus,
button.text-info:active {
  color: #00a5bb !important; }

.text-success {
  color: #97c95d !important; }

a.text-success:hover, a.text-success:focus, a.text-success:active,
.btn.text-success:hover,
.btn.text-success:focus,
.btn.text-success:active,
input[type="submit"].text-success:hover,
input[type="submit"].text-success:focus,
input[type="submit"].text-success:active,
button.text-success:hover,
button.text-success:focus,
button.text-success:active {
  color: #8BC34A; }

.text-muted {
  color: #9fb4be !important; }

a.text-muted:hover, a.text-muted:focus, a.text-muted:active,
.btn.text-muted:hover,
.btn.text-muted:focus,
.btn.text-muted:active,
input[type="submit"].text-muted:hover,
input[type="submit"].text-muted:focus,
input[type="submit"].text-muted:active,
button.text-muted:hover,
button.text-muted:focus,
button.text-muted:active {
  color: #819ca9 !important; }

.text-danger {
  color: #f77066 !important; }

a.text-danger:hover, a.text-danger:focus, a.text-danger:active,
.btn.text-danger:hover,
.btn.text-danger:focus,
.btn.text-danger:active,
input[type="submit"].text-danger:hover,
input[type="submit"].text-danger:focus,
input[type="submit"].text-danger:active,
button.text-danger:hover,
button.text-danger:focus,
button.text-danger:active {
  color: #F44336 !important; }

.bordered.bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.bordered.left {
  border-left: 1px solid rgba(0, 0, 0, 0.05); }

.bordered.right {
  border-right: 1px solid rgba(0, 0, 0, 0.05); }

.bordered.top {
  border-top: 1px solid rgba(0, 0, 0, 0.05); }

.section-title {
  padding: 1.075rem 0;
  position: relative; }
  .section-title h6, .section-title a.show-info {
    display: inline-block;
    vertical-align: top; }
  .section-title h6 {
    color: #648393;
    margin-bottom: 0; }
    @media (max-width: 48rem) {
      .section-title h6 {
        font-size: 0.875rem; } }
  .section-title a.show-info {
    color: #60ccfd;
    padding: 0 0.625rem; }
    .section-title a.show-info:hover {
      color: #2ebcfc; }
    .section-title a.show-info:hover, .section-title a.show-info:active, .section-title a.show-info:focus {
      text-decoration: none; }
    @media (max-width: 48rem) {
      .section-title a.show-info:focus + .info {
        display: block; } }
    @media (min-width: 48rem) {
      .section-title a.show-info:hover + .info {
        display: block; } }
  .section-title .info {
    -webkit-animation: bounce 0.25s ease-in-out forwards;
    animation: bounce 0.25s ease-in-out forwards;
    background: #fff;
    border-left: 0.25rem solid #60ccfd;
    border-radius: 0.125rem;
    box-shadow: 0px 10px 14px -10px rgba(0, 0, 0, 0.4);
    display: none;
    max-width: 20rem;
    overflow: hidden;
    padding: 0.625rem;
    position: absolute;
    transition: all 0.25s ease-in-out;
    z-index: 500; }
    @media (min-width: 48rem) {
      .section-title .info {
        top: 3rem;
        right: 1rem; } }
    .section-title .info p {
      font-size: 0.825rem; }

.edition .form-control,
.edition .tools {
  display: inline-block;
  vertical-align: middle; }

.edition .form-control,
.edition .twitter-typeahead {
  width: calc(100% - 3.75rem); }

.edition .tools {
  float: right; }
  .edition .tools a {
    display: inline-block;
    padding: 0.437rem 0.25rem;
    vertical-align: middle; }

.justify-content-start {
  -webkit-box-pack: start !important;
  -webkit-justify-content: flex-start !important;
    -webkit-justify-content--ms-flex-pack: start !important;
      -webkit-justify-content--ms-flex-pack-justify-content: flex-start !important; }

.justify-content-end {
  -webkit-box-pack: end !important;
  -webkit-justify-content: flex-end !important;
    -webkit-justify-content--ms-flex-pack: end !important;
      -webkit-justify-content--ms-flex-pack-justify-content: flex-end !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
    -webkit-justify-content--ms-flex-pack: center !important;
      -webkit-justify-content--ms-flex-pack-justify-content: center !important; }

.justify-content-between {
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
    -webkit-justify-content--ms-flex-pack: justify !important;
      -webkit-justify-content--ms-flex-pack-justify-content: space-between !important; }

.justify-content-around {
  -webkit-justify-content: space-around !important;
    -webkit-justify-content--ms-flex-pack: distribute !important;
      -webkit-justify-content--ms-flex-pack-justify-content: space-around !important; }
