.step.five
  
  .header.text-xs-center
    h6 Agregar Producto
    
  .partial 
    
    
  .partial-footer.text-xs-center  
    a#btn-5.btn.btn-link.text-info(href="#") Siguiente <i class="icon-chevron-right-rounded"></i>
