.step.two
  .header.text-xs-center
    h6 Agrega tus Sellos Digitales y la FIEL
  .partial 
    //include ../_csd-upload
    
  .partial-footer.text-xs-center  
    a#btn-2.btn.btn-link.text-info(href="#") Siguiente <i class="icon-chevron-right-rounded"></i>
