.step.six.text-xs-center
  
  i.icon-logo-redux.icon-5x.text-info
  
  p.lead &iexcl;Felicidades!
  p.text-muted Tu Perfil Fiscal esta completo y puedes comenzar a utilizar nuestros servicios
  
  a#btn-go.btn.btn-link.text-info(href="app.html") Finalizar
