.step.three
  
  .header.text-xs-center
    h6 Perfil Fiscal
    
  .partial 
    
    
  .partial-footer.text-xs-center  
    a#btn-3.btn.btn-link.text-info(href="#") Siguiente <i class="icon-chevron-right-rounded"></i>
