.step.one.active.text-xs-center
  i.icon-logo-redux.icon-5x.text-info
  
  p.lead Para continuar sigue estos sencillos pasos, que te guiar&aacute;n para tener lista tu cuenta y poder emitir y recibir facturas
  p.text-muted Dando click en el siguiente enlace estar&aacute;s de acuerdo con nuestros <a href="#" class="text-info">terminos y condiciones del servicio</a> y has le&iacute;do nuestro <a href="#" class="text-info">aviso de privacidad</a> 
  
  a#btn-go.btn.btn-link.text-info(href="#") Comenzar
